.hero-block{
    /* border: 5px solid red; */
}

.nav{
    display: flex;
    padding-top: -80px;
    /* border: 5px solid blue; */
}

.nav-links{
    display: flex;
    gap: 30px;
    margin-top: -7px;
    padding-left: 40px;
    /* border: 5px solid blue; */
}

ul{
    list-style-type: none;
}

.three-rightmost-links{
    display: flex;
    gap: 30px;
    margin-left: 800px;
}

body{
    margin: 0px;
}
